body{
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.outer{
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto 20px;
}

img{
    width: 300px;
}

.scantxt, .subheader{
    text-align: center;
}

.subheader{
    font-weight: 700;
    width: 200px;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto;
}

.scantxt{
    color: hsl(221, 23%, 64%);
    width: 250px;
    word-wrap: break-word;
    text-align: center;
    margin: 0 auto;
}

@media (min-width: 375px) {
    margin: auto;
}